body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: slategray;
}

#testForm{
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 450px;
    height: 600px;
    padding: 50px;
    background-color: darkgray;
    border: black solid 2px;
}

#testForm h1{
    text-align: center;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 50px;
    border: black solid 2px;
}

#testForm label{
    font-weight: 10;
    font-size: 20px;
}

#testForm .fieldEntry{
    font-weight: 10;
    height: 35px;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: black solid 2px;
}

label{
    margin-top: 15px;
    margin-bottom: 10px;
}

#button{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    border: 2px black solid;
    font-size: 20px;
    background-color: white;
}

#button:hover{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 35px;
    border: 2px black solid;
    background-color: lightgray;
}

#loginForm{
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 450px;
    height: 600px;
    padding: 50px;
    background-color: darkgray;
    border: black solid 2px;
}

#loginForm h1{
    text-align: center;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 50px;
    border: black solid 2px;
}

#loginForm label{
    font-weight: 10;
    font-size: 20px;
}

#loginForm .fieldEntry{
    font-weight: 10;
    height: 35px;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: black solid 2px;
}

#loginForm #controlsLog{
    display: flex;
    flex-flow: row;
}

#loginForm #buttonLogin{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    border: 2px black solid;
    font-size: 20px;
    background-color: white;
}

#loginForm #buttonLogin:hover{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    border: 2px black solid;
    background-color: lightgray;
}

#loginForm #buttonLogout{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 2px black solid;
    font-size: 20px;
    background-color: white;
}

#loginForm #buttonLogout:hover{
    height: 65px;
    width: 150px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 50px;
    border: 2px black solid;
    background-color: lightgray;
}

#loginForm #showInfo{
    margin: auto;
}

#loginForm #showInfo #userInfo{
    height: 65px;
    width: 250px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    border: 2px black solid;
    font-size: 20px;
    background-color: white;
}

#loginForm #showInfo #userInfo:hover{
    height: 65px;
    width: 250px;
    border-radius: 10px;
    margin: auto;
    margin-top: 15px;
    border: 2px black solid;
    background-color: lightgray;
}

#loginForm #currentUser{
    text-align: center;
    font-weight: 100;
}

#content{
    margin: auto;
    display: flex;
    flex-flow: column;
    width: 450px;
    height: 600px;
    padding: 50px;
    background-color: darkgray;
    border: black solid 2px;
}

#content h1{
    text-align: center;
    font-weight: 400;
    background-color: white;
    padding: 20px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 50px;
    border: black solid 2px;
}

#links{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#links a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 125px;
    padding: 15px;
    border-radius: 10px;
    border: 2px black solid;
    font-size: 20px;
}

#links a:hover{
    background-color: lightgray;
}

